.App {
  text-align: center;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
}

.app_taskbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  min-height: 3rem;
  background: rgba(3, 21, 41, 0.4);
  display: flex;
}
