body {
  margin: 0;
}
html { 
  background: url(./assets/wallpaper/default_dark.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}